<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="DirectResponseWebServiceBindingConfiguration"
          maxBufferPoolSize="65536000" maxReceivedMessageSize="65536000">
          <readerQuotas maxDepth="65536000" maxStringContentLength="2048576"
            maxArrayLength="65536000" maxBytesPerRead="65536000" maxNameTableCharCount="2048576" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Direct_Response_Web_Service.DirectResponseWebService">
        <endpoint address="net.tcp://localhost:8000/DirectResponseService" binding="netTcpBinding" bindingConfiguration="DirectResponseWebServiceBindingConfiguration" name="DirectResponseServiceEndPoint" contract="Direct_Response_Web_Service.IDirectResponseWebService" />
      </service>
    </services>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <connectionStrings>
    <add name="Direct_Response_UsersDbEntities" connectionString="metadata=res://*/MessagesDb.Direct_Response_Base_Messages_Model.csdl|res://*/MessagesDb.Direct_Response_Base_Messages_Model.ssdl|res://*/MessagesDb.Direct_Response_Base_Messages_Model.msl;provider=System.Data.SqlClient;provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=&quot;C:\Users\duki9\OneDrive\Duki\Diplomski (Assets)\Direct Response\Database\Direct_Response_UsersDb.mdf&quot;;integrated security=True;connect timeout=30;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>